body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat";
}

#korzina{
    border-left: 1px solid rgb(212, 212, 212);
    transition: 0.6s;
    width: 30%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: white;
    right: -100%;
    top: 0;
    z-index: 10;
    opacity: 0;
}

#korzina.active4{
    transition: 0.4s;
    opacity: 1;
    right: 0px;
}

.bx-x{
    position: absolute;
    cursor: pointer;
    font-size: 40px;
}


a{
    text-decoration: none;
}

/*header__sale*/

.header__sale{
    padding: 1px 0px;
    background: #FFC98A8F;
    width: 100%;
    text-align: center;
}

.header__sale p{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 17px;
}

/*header__logo*/

.header__logo{
    text-align: center;
}

.header__logo h3{
    padding-top: 20px;
    padding-bottom: 24px;
    max-width: 430px;
    width: 100%;
    margin: auto;
    line-height: 37px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 31px;
}

/*header-menu*/

.container{
    padding: 0px 70px;
}

.container .header{
    width: 100%;
}

.header__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__menu .header__menu__list{
    position: relative;
    list-style: none;
    display: flex;
    margin-left: -40px;
}

.header__menu__list .header__menu__link{
    font-family: 'Montserrat';
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin-right: 25px;
}

.header__menu__item:nth-child(1)::before{
    content: "";
    position: absolute;
    background-color: black;
    width: 88px;
    height: 1px;
    bottom: -4px;
    left: 255px;
}

.header__img{
    margin-right: 32px;
    cursor: pointer;
}

/*#modal*/

#modal{
    transition: 0.6s;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-image:linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85));
    top: -100%;
    left: 0;
    z-index: 10;
    opacity: 0;
}

#modal__click{
    cursor: pointer;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

#search-btn{
    cursor: pointer;
}

#search-form h3{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 30px;
    font-family: 'Montserrat';
}

#modal.active{
    transition: 0.4s;
    opacity: 1;
    top: 0px;
}

#search-form{
    color: black;
    position: absolute;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    width: 500px;
    height: 500px;
    border-radius: 63px;
    transition: 1s;
}

#search-form.active2{
    transition: 0.6s ease-in-out;
    opacity: 0;
}

#search-form__vxod.active3{
    opacity: 1;
    top: 0;
    transition: 0.4s ease-in-out;
    z-index: 11;
}

.modal-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#search-form input{
    font-family: 'Montserrat';
    border: 0;
    margin: 20px 0px;
    width: 350px;
    height: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background: none;
    outline: none;
    padding: 6px;
}

#search-form input[type="submit"]{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: 30px;
    width: 365px;
    height: 86px;
    background: #202020;
    color: rgb(255, 255, 255);
    outline: none;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    font-size: 18px;
    padding: 15px;
}


#search-form input::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #696969;
    font-family: 'Montserrat';
}

#search-form p{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.48);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
}

#search-form p a{
    cursor: pointer;
    color: rgb(8, 86, 187);
}

#select{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    position: absolute;
    outline: none;
    padding: 5px;
    padding-right: 30px;
}

#select::before{
    content: "";
    background: url("./img/select-img.png");
    position: absolute;
    right: 5px;
    top: 5px;
  }

/*#search-form__vxod*/

#search-form__vxod{
    opacity: 0;
    color: black;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    width: 500px;
    height: 450px;
    border-radius: 63px;
}

#search-form__vxod h3{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 30px;
    font-family: 'Montserrat';
}

#search-form__vxod input{
    font-family: 'Montserrat';
    border: 0;
    margin: 20px 0px;
    width: 350px;
    height: 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background: none;
    outline: none;
    padding: 6px;
}

#search-form__vxod input[type="submit"]{
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: 30px;
    width: 365px;
    height: 60px;
    background: #202020;
    color: rgb(255, 255, 255);
    outline: none;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    font-size: 18px;
    padding: 5px;
}


#search-form__vxod input::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #696969;
    font-family: 'Montserrat';
}

#search-form__vxod p{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.48);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
}

#search-form__vxod p a{
    cursor: pointer;
    color: rgb(8, 86, 187);
}


.filter__flex{
    padding-top: 70px;
    display: flex;
    align-items: center;

}

.text__filter{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.text__filter p{
    padding-left: 5px;
    font-size: 17px;
    font-weight: 500;
}

.title__flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    position: relative;
    top: -27px;
}

.title__flex h3{
    font-size: 17px;
    font-weight: 500;
}

.container_cart{
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.cart__flex{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cart{
    cursor: pointer;
    position: relative;
    padding: 0px 20px;
}

.cart p{
    color: #4B4B4B;
    font-size: 17px;
    font-weight: 500;
}

.cart img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.cart-basket{
    font-size: 24px;
    transition: 0.3s;
    opacity: 0;
    top: 10px;
    left: 380px;
    position: absolute;
}

.cart:hover .cart-basket{
    opacity: 1;
}

.cart-heart{
    font-size: 24px;
    transition: 0.3s;
    opacity: 0;
    top: 10px;
    left: 335px;
    position: absolute;
}

.cart:hover .cart-heart{
    opacity: 1;
}

/*dop__info*/

.dop__info{
    position: relative;
}

.dop__info h3{
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat";
    padding-bottom: 50px;
}

.main__cart__info{
    display: flex;
    position: relative;
    overflow: hidden;
}

.text__info{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text__info h4{
    padding: 6px 16px;
    top: 45%;
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: 500;
    font-family: "Montserrat";
    background: white;
}

/*select__list*/

.select__list{
    padding: 130px 0px;
}

.container__select{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

.select__flex{
    text-align: center;
}

.select__flex h3{
    font-weight: 600;
    font-family: "Montserrat";
    font-size: 40px;
}

.select__flex p{
    color: #444444;
    font-weight: 400;
    font-family: "Montserrat";
    font-size: 23px;
    padding: 10px 30px 59px 30px;
}

.select__flex span{
    position: relative;
    top: 21px;
    color: #444444;
    font-weight: 500;
    font-family: "Montserrat";
    font-size: 16px;
    letter-spacing: 1px;
}

.select__flex a{
    color: #444444;
}

.form__select input[type="email"]{ 
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    color: black;
    border: 0;
    outline: none;
    border-bottom: 2px solid #000000;
    width: 550px;
    padding: 5px 0px 9px 0px;
}

input[type="email"]::placeholder{
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    color: black;
}

.form__select input[type="submit"]{ 
    cursor: pointer;
    background: black;
    color: white;
    border: 0;
    width: 260px;
    height: 50px;
    font-size: 19px;
    font-weight: 500;
    font-family: "Montserrat";
    letter-spacing: 1px;
    position: relative;
    top: -4px;
    left: 13px;
}







/*footer*/

.footer{
    width: 100%;
    background: #1D1D1D;

}

.footer-container{
    max-width: 1030px;
    margin: 0 auto;
    width: 100%;
}

.footer__flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__list{
    list-style: none;

}

.footer__list:nth-child(1){
    margin-left: -30px;
}

.footer__list h3{
    padding-top: 55px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;

}

.footer__menu__link{
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 500;
    line-height: 35px;
}

.footer__icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 44px;
}

.footer__icons img{
    margin-right: 32px;
}

.footer__copyrite{
    padding-bottom: 16px;
    padding-top: 16px;
    border-top: 1px solid white;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #858585;
    text-align: center;
    font-size: 13px;
    letter-spacing: 2%;
}